@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  width: 300px;
  max-width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

.progress {
  position: absolute;
  top: 50%;
  width: 0%;
  height: 4px;
  background-color: var(--line-border-fill);
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  transition: .4s ease-in;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: var(--line-border-empty);
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.circle {
  background-color: var(--line-border-empty);
  display: block;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle.active {
  background-color: var(--line-border-fill);
  color: white;
}

.button {
  cursor: pointer;
  padding: 8px;
  background-color: var(--line-border-fill);
  border: var(--line-border-fill);
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.button:active {
  outline: none;
}

.button:disabled {
    cursor: not-allowed;
    background-color: var(--line-border-empty);
    color: grey;
}
